downloads/QR_Gear_Full_Website.zip filter=lfs diff=lfs merge=lfs -text
downloads/qrgear-site.zip filter=lfs diff=lfs merge=lfs -text
downloads/zi5wcEWM filter=lfs diff=lfs merge=lfs -text
downloads/zioTQ6PI filter=lfs diff=lfs merge=lfs -text
downloads/ziCKknXu filter=lfs diff=lfs merge=lfs -text
downloads/zi9ImqmH filter=lfs diff=lfs merge=lfs -text
downloads/zi4hUHrA filter=lfs diff=lfs merge=lfs -text
downloads/zicqMKGd filter=lfs diff=lfs merge=lfs -text
downloads/zinva4NI filter=lfs diff=lfs merge=lfs -text
downloads/ziakL4aR filter=lfs diff=lfs merge=lfs -text
downloads/ziNXPdNG filter=lfs diff=lfs merge=lfs -text
